body
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #efefef;

.__root
  flex: 1;

body > *
  display: flex;
  flex-direction: column;
  box-sixing: border-box;

.shell
  flex: 1;
  margin: 40px;
  padding: 40px;
  border-radius: 6px;
  background: white;
